In [2]:
import pandas as pd

# Location of dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Assign colum names to the dataset
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv(url, names=names)

In [3]:
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
# Assign data from first four columns to X variable
X = irisdata.iloc[:, 0:4]

# Assign data from first fifth columns to y variable
y = irisdata.select_dtypes(include=[object])

In [5]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [6]:
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
from sklearn import preprocessing  
le = preprocessing.LabelEncoder()

y = y.apply(le.fit_transform)

In [9]:
y

     Class
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
..     ...
120      2
121      2
122      2
123      2
124      2
125      2
126      2
127      2
128      2
129      2
130      2
131      2
132      2
133      2
134      2
135      2
136      2
137      2
138      2
139      2
140      2
141      2
142      2
143      2
144      2
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [12]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)

X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

In [13]:
X_train

array([[ 1.65900895, -0.0969472 ,  1.29518553,  1.28103085],
       [-0.20272179, -1.33457107,  0.14561257, -0.0627078 ],
       [ 1.03843204, -0.34447198,  0.54796311,  0.20603993],
       [ 0.66608589,  0.64562712,  0.60544176,  0.60916152],
       [-0.94741409,  0.89315189, -1.17639633, -1.00332486],
       [-0.57506794,  1.63572621, -1.23387497, -1.27207259],
       [-1.31976024,  0.39810234, -1.34883227, -1.27207259],
       [-0.45095256,  2.13077576, -1.34883227, -1.00332486],
       [ 0.79020127,  0.39810234,  0.95031364,  1.54977858],
       [-1.19564485,  0.89315189, -1.17639633, -1.27207259],
       [-0.07860641, -1.33457107,  0.7778777 ,  1.14665699],
       [-0.07860641,  1.88325099, -1.11891768, -1.13769873],
       [-0.82329871,  0.89315189, -1.23387497, -1.27207259],
       [ 0.91431665, -0.0969472 ,  1.23770688,  1.41540472],
       [ 0.04550897, -0.83952152,  0.83535635,  1.01228312],
       [-1.44387562,  0.15057757, -1.23387497, -1.27207259],
       [ 0.04550897, -0.83952152,  0.83535635,  1.01228312],
       [-0.82329871,  1.88325099, -1.17639633, -1.27207259],
       [ 1.2866628 , -0.59199675,  0.66292041,  0.34041379],
       [ 2.65193201,  1.88325099,  1.58257877,  1.14665699],
       [ 0.41785512, -1.0870463 ,  1.12274959,  0.34041379],
       [-0.94741409, -0.0969472 , -1.17639633, -1.27207259],
       [ 0.41785512, -0.59199675,  0.20309122,  0.20603993],
       [-0.20272179, -0.83952152,  0.31804852,  0.20603993],
       [ 0.04550897, -0.59199675,  0.83535635,  1.68415245],
       [ 1.16254742,  0.15057757,  0.43300581,  0.34041379],
       [-0.32683717, -1.0870463 ,  0.43300581,  0.07166606],
       [ 0.41785512, -0.0969472 ,  0.54796311,  0.34041379],
       [-0.94741409,  1.38820144, -1.29135362, -1.27207259],
       [ 1.16254742,  0.15057757,  1.12274959,  1.68415245],
       [-1.69210638,  0.39810234, -1.34883227, -1.27207259],
       [-1.44387562,  1.38820144, -1.52126821, -1.27207259],
       [-0.45095256, -0.0969472 ,  0.49048446,  0.47478766],
       [-0.45095256,  1.63572621, -1.23387497, -1.27207259],
       [ 0.16962436, -0.0969472 ,  0.83535635,  0.87790926],
       [-1.07152947,  0.15057757, -1.23387497, -1.40644646],
       [ 0.04550897,  2.37830053, -1.40631092, -1.27207259],
       [-0.94741409,  1.14067666, -1.17639633, -0.73457713],
       [-0.69918332,  1.14067666, -1.23387497, -1.27207259],
       [-0.20272179, -0.0969472 ,  0.26056987,  0.20603993],
       [-0.82329871,  0.64562712, -1.11891768, -0.868951  ],
       [ 0.79020127,  0.15057757,  1.06527094,  0.87790926],
       [ 0.16962436,  0.39810234,  0.66292041,  0.87790926],
       [ 0.41785512, -0.59199675,  0.60544176,  0.07166606],
       [ 0.04550897, -1.0870463 ,  0.20309122,  0.07166606],
       [-1.44387562,  0.89315189, -1.29135362, -1.13769873],
       [ 0.79020127,  0.39810234,  0.49048446,  0.47478766],
       [-0.32683717, -1.33457107,  0.20309122,  0.20603993],
       [-1.19564485, -0.0969472 , -1.29135362, -1.13769873],
       [ 0.29373974, -0.83952152,  0.83535635,  0.60916152],
       [ 0.29373974, -0.0969472 ,  0.66292041,  0.87790926],
       [ 1.41077818,  0.15057757,  0.83535635,  1.54977858],
       [ 0.41785512, -0.0969472 ,  0.72039905,  0.87790926],
       [ 0.5419705 , -0.34447198,  0.37552717,  0.20603993],
       [ 0.91431665,  0.39810234,  0.83535635,  1.14665699],
       [ 0.79020127, -0.34447198,  0.37552717,  0.20603993],
       [-0.32683717,  1.14067666, -1.34883227, -1.27207259],
       [-1.07152947, -1.58209584, -0.19925931, -0.19708167],
       [-0.32683717,  2.87335008, -1.29135362, -1.27207259],
       [ 0.91431665, -0.59199675,  0.54796311,  0.47478766],
       [ 1.2866628 , -0.0969472 ,  1.06527094,  1.28103085],
       [-0.20272179, -0.0969472 ,  0.49048446,  0.47478766],
       [ 0.79020127, -0.83952152,  0.95031364,  1.01228312],
       [ 2.27958586, -0.0969472 ,  1.69753607,  1.28103085],
       [ 2.40370125, -1.0870463 ,  1.86997201,  1.54977858],
       [ 0.66608589, -0.34447198,  1.12274959,  0.87790926],
       [ 1.2866628 ,  0.39810234,  1.29518553,  1.54977858],
       [-0.82329871,  1.88325099, -1.00396038, -1.00332486],
       [-1.69210638, -0.0969472 , -1.34883227, -1.27207259],
       [-0.94741409, -1.82962062, -0.19925931, -0.19708167],
       [-0.94741409,  0.64562712, -1.29135362, -1.27207259],
       [-1.31976024,  0.39810234, -1.17639633, -1.27207259],
       [-1.19564485,  0.15057757, -1.17639633, -1.27207259],
       [-0.20272179, -0.59199675,  0.72039905,  1.14665699],
       [-0.07860641, -0.34447198,  0.31804852,  0.20603993],
       [ 2.40370125, -0.59199675,  1.75501471,  1.14665699],
       [ 2.0313551 , -0.59199675,  1.41014283,  1.01228312],
       [-0.07860641, -0.59199675,  0.49048446,  0.20603993],
       [-0.82329871,  1.14067666, -1.29135362, -1.27207259],
       [-0.45095256,  0.89315189, -1.23387497, -1.00332486],
       [ 0.29373974, -2.07714539,  0.7778777 ,  0.47478766],
       [ 0.29373974, -2.07714539,  0.20309122, -0.19708167],
       [ 0.29373974,  0.89315189,  0.49048446,  0.60916152],
       [-1.44387562,  0.39810234, -1.29135362, -1.27207259],
       [-0.94741409,  1.14067666, -1.34883227, -1.13769873],
       [-1.567991  , -1.82962062, -1.34883227, -1.13769873],
       [-1.81622177, -0.0969472 , -1.46378957, -1.40644646],
       [-0.32683717, -1.82962062,  0.20309122,  0.20603993],
       [-1.19564485,  0.89315189, -1.00396038, -1.27207259],
       [ 1.03843204, -0.0969472 ,  0.43300581,  0.34041379],
       [ 1.78312433,  1.38820144,  1.41014283,  1.81852632],
       [ 0.04550897, -0.83952152,  0.26056987, -0.19708167],
       [ 0.29373974, -0.34447198,  0.49048446,  0.47478766],
       [-1.07152947, -1.33457107,  0.49048446,  0.74353539],
       [-0.82329871, -1.33457107, -0.37169526, -0.0627078 ],
       [-0.69918332, -0.83952152,  0.14561257,  0.34041379],
       [-0.69918332,  0.89315189, -1.29135362, -1.27207259],
       [ 0.5419705 ,  0.89315189,  1.00779229,  1.54977858],
       [ 0.79020127, -0.59199675,  1.12274959,  1.28103085],
       [ 0.66608589, -1.82962062,  0.43300581,  0.20603993],
       [-0.45095256,  0.89315189, -1.11891768, -1.27207259],
       [-0.07860641, -1.0870463 , -0.08430202, -0.19708167],
       [-0.20272179, -0.34447198, -0.02682337,  0.20603993],
       [ 0.91431665, -0.0969472 ,  1.06527094,  0.87790926],
       [-0.82329871,  1.88325099, -1.23387497, -1.13769873],
       [-1.07152947,  0.15057757, -1.23387497, -1.40644646],
       [ 0.66608589, -0.59199675,  0.83535635,  0.47478766],
       [ 0.04550897, -0.83952152,  0.14561257,  0.07166606],
       [ 1.16254742,  0.15057757,  0.60544176,  0.47478766],
       [ 0.66608589, -1.33457107,  0.72039905,  0.47478766],
       [-0.07860641, -0.0969472 ,  0.31804852,  0.07166606],
       [-1.07152947, -0.0969472 , -1.29135362, -1.27207259],
       [-0.94741409,  0.39810234, -1.40631092, -1.27207259],
       [ 1.16254742, -0.0969472 ,  0.892835  ,  1.54977858],
       [ 1.16254742,  0.64562712,  1.18022824,  1.28103085],
       [ 1.90723971, -0.34447198,  1.52510012,  0.87790926],
       [ 1.41077818,  0.15057757,  1.00779229,  1.28103085],
       [-0.32683717, -1.58209584,  0.03065528, -0.19708167],
       [-0.07860641, -0.59199675,  0.26056987,  0.20603993],
       [-1.69210638, -0.34447198, -1.29135362, -1.27207259]])

In [23]:
from sklearn.neural_network import MLPClassifier  
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)  
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10, 10, 10), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [24]:
y_train.values.ravel()

array([2, 1, 1, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2, 0, 2, 0, 1, 2, 2, 0,
       1, 1, 2, 1, 1, 1, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 0, 2, 1, 1,
       1, 0, 1, 1, 0, 1, 2, 2, 2, 1, 2, 1, 0, 1, 0, 1, 2, 1, 2, 2, 2, 2,
       2, 0, 0, 1, 0, 0, 0, 2, 1, 2, 2, 1, 0, 0, 2, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 2, 1, 1, 2, 1, 1, 0, 2, 2, 1, 0, 1, 1, 2, 0, 0, 2, 1, 1, 1,
       1, 0, 0, 2, 2, 2, 2, 1, 1, 0], dtype=int64)

In [25]:
predictions = mlp.predict(X_test)  
predictions

array([0, 2, 1, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 0, 2, 1, 0, 1, 1, 1, 0, 1,
       0, 2, 2, 2, 0, 0, 2, 2], dtype=int64)

In [26]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,predictions))  
print(classification_report(y_test,predictions))

[[ 8  0  0]
 [ 0  7  1]
 [ 0  0 14]]
             precision    recall  f1-score   support

          0       1.00      1.00      1.00         8
          1       1.00      0.88      0.93         8
          2       0.93      1.00      0.97        14

avg / total       0.97      0.97      0.97        30